<section>
    <div 
        id="dropArea" 
        class="dropArea" 
        (dragover)="onDragOver($event)" 
        (drop)="onDropSuccess($event); drop($event)"
        (dragleave)="onDragLeage()"
    >
        <div class="dropArea__info">httpclient
            <i class="fas fa-upload"></i>
            <p>Drag and drop photos here</p>
            <span>or</span>
            <span class="dropArea__select" (click)="inputFileClicked()">Click here to select one</span>
            <input type="file" id="inputFile" hidden (change)="fileBrowserHandler($event.target.files[0])">
            <sup>Only PNG or JPG</sup>
        </div>
    </div>
    <button (click)="pushImages()">Submit</button>
    <div class="files">
        <div *ngFor="let photo of dropedList; let idx = index" class="files__container">
            <i class="fas fa-image"></i>
            <div class="files__info">
                <h4 class="name">{{photo.name}}</h4>
                <p class="size">{{photo.size / 1024 | number:'1.1-2'}}kb</p>
            </div>
            <i class="fas fa-minus-circle" (click)="delete(idx)"></i>
        </div>
    </div>
    <hr>
    <div class="photos-container">
        <img *ngFor="let img of images" src="{{img.photo}}" (click)="deleteImage(img.id)" height="150px" style="margin:1em; cursor: pointer;">

    </div>
</section>
